@font-face {
  font-family: text-color-grayins;
  src: url(./fonts/text-color-grayins-Black.ttf);
}

@font-face {
  font-family: Inter;
  src: url(./fonts/Inter-Medium.ttf);
}

@font-face {
  font-family: Pretendard;
  src: url(./fonts/Pretendard-Bold.otf);
}

.container {
  margin-left: 15%;
  margin-right: 15%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom right,
    #08aebc,
    #0899cf,
    #0852db
  ); /* Diagonal gradient */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom right,
    #08aebc,
    #0899cf,
    #0852db
  ); /* Diagonal gradient */
}

// Select CSS Changes
.q-field__native,
.q-field__append {
  color: white;
}

.q-field--standard .q-field__control:after {
  display: none !important;
}
.q-field--standard .q-field__control:before {
  display: none !important;
}

.fs-24 {
  font-size: 24px;
}

.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}

.text-color-gray {
  color: #5e626f;
}

.text-color-gray-shade-1 {
  color: #343741;
}

.text-color-gray-shade-2 {
  color: #344054;
}

.text-color-green {
  color: #40e2e8;
}

.grid {
  display: grid;
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.col-span-4 {
  grid-column: span 4 / span 4;
}

.col-span-12 {
  grid-column: span 12 / span 12;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.col-span-6 {
  grid-column: span 6 / span 6;
}
